  .header {
    background-image: url("../../images/dark-bgd.jpg");
    background-size: cover;
  }
  
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
  }
  
  .logo {
    width: 100px;
  }
  
  .functional {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }
  
  .filters {
    display: flex;
  }
  
  .search {
    display: flex;
  }
  
  select {
    width: 200px;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    padding: 3px;
  }
  
  .link {
    color: #006eff;
    background-color: rgb(19, 19, 19, 0.7);
    border: 1px solid #006eff;
    border-radius: 3px;
    text-decoration: none;
    padding: 6px 16px;
    font-size: 16px;
    margin: 10px 0px;
    transition: all 1s ease-in-out;
  }
  
  .link:hover {
    box-shadow:0px 0px 25px 13px #006eff inset;
    color: white;
  }
  
  .main {
    background-image: no-repeat center/80%;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    gap: 30px;
    padding: 40px;
    justify-content: center;
  }
  
  .footer {
    padding-left:10px;
    background: black;
    color: #fff;
    font-weight: lighter;
    text-align: center;
    height: auto;
    display: flex;
    margin-right: 1070px;
    justify-content: space-between;
  }
